<section class="page-content">
    <div class="page-header">
        <h1><%= humanizedName %></h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%= humanizedName %>
        </div>
    </div>
</section>