<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="app.home">Home</a></li>
          <li><a ui-sref="app.about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>

<div class="container">
  <div>
    <!--sidebar-->
  </div>
  <div class="main-content">
    <div class="main-content-inner" >
      <div ncy-breadcrumb></div>
      <div ui-view="content" id="content"></div>
    </div>
  </div>
</div>