<div class="page-header">
    <h1>Acerca de 
        <small>
            <i class="fa fa-angle-double-right"></i> overview &amp; stats
        </small></h1>
</div>
<div class="row">
    <div class="col-xs-12">
        Acerca de...
    </div>
</div>
